.container { 
  text-align: center;
  margin: 100px auto;
}

.start {
  margin: 0 auto;
  font-size: 32pt;
  padding: .5em 2em;
}

.input { 
  margin: 5em auto 0;
  font-size: 20pt;
}

.display {
  height: 0;
  margin: 30px auto;
  font-family: 'Noto Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 64pt;
}

.textbox {
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}

.textbox:focus,
.textbox:active {
  outline: none;
}

.correct {
  border: 1px solid rgba(51, 255, 0, 0.5);
  box-shadow: inset 0px 0px 10px 0px rgba(51, 255, 0, 0.5), 0px 0px 10px 0px rgba(51, 255, 0, 0.5);
  transition: box-shadow .1s linear;
}

.incorrect {
  border: 1px solid rgba(255, 0, 0, 0.5);
  box-shadow: inset 0px 0px 10px 0px rgba(255, 0, 0, 0.5), 0px 0px 10px 0px rgba(255, 0, 0, 0.5);
  transition: box-shadow .1s linear;
}

.score {
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  cursor: pointer;
}

.menu {
  position: absolute;
  right: 1em;
  top: 0;
}

.red {
  color: #ce1b1b;
}

.green {
  color: #4bb619;
}

.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  z-index: 1;
}

.modal-content {
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 100px;
  width: 50%;
  padding: 1em;
  max-width: 400px;
  min-width: 315px;
  z-index: 2
}

.modal-content > h1 {
  margin: 0;
}

.modal-content > div {
  margin: 1em auto 0;
  max-width: 315px;
}

.modal-content > div > p {
  text-align: justify;
  line-height: 16px;
  margin: 0 1em 1em;
}

#difficulty {
  max-width: 400px;
}

.btn-large {
  font-size: 24pt;
  line-height: 20pt;
  height: 48px;
  width: 190px;
}

.btn-difficulty {
  display: block;
  margin: .25em auto;
  width: 70%;
  font-size: 14pt;
}

.difficulty-group {
  margin: 3em 0;
}

.close {
  position: absolute;
  top: 0;
  right: 6px;
}

.nav, .pagination, .carousel, a { cursor: pointer; }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .score {
    font-size: 12px;
  }
  .modal-content {
    top: 12px;
  }
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  .score {
    font-size: 12px;
  }
  .textbox {
    width: 238px;
  }
  .btn-difficulty {
    font-size: 12pt;
  }
  .modal-content {
    top: 12px;
    min-width: 280px;
  }
}


