<div slide-down show="show(views.about)" >
  <div class="backdrop">
    <div class="modal-content">
      <h1>About</h1>
      <div class="paragraph">
      <p>This is a tool for improving reading speed and comprehension. A string of characters will flash on the screen. Open your perception to these characters and enter what you see.  As your perception improves, the task will become more difficult.</p>
      <p><strong>Take a deep breath, focus, and improve.</strong></p>
      </div>
      <button class="btn btn-large" ng-show="mode() < 0" ng-click="changeview(views.settings)" >Start</button>
      <span class="close" ng-click="changeview(views.none)">&times</span>
    </div>
  </div>
</div>
