<div slide-down show="showsettings" >
  <div class="backdrop">
    <div class="modal-content" id="difficulty">
      <h3>Choose Game Mode</h3>
      <div class="difficulty-group">
        <button class="btn btn-info btn-difficulty" ng-click="start(0)" >Give me numbers.</button>
        <button class="btn btn-info btn-difficulty" ng-click="start(1)" >Give me letters.</button>
        <button class="btn btn-info btn-difficulty" ng-click="start(2)" >Give me both.</button>
      </div>
      <span class="close" ng-click="close()">&times</span>
    </div>
  </div>
</div>

