<div slide-down show="showsettings" >
  <div class="backdrop">
    <div class="modal-content" id="difficulty">
      <h3>Choose Game Mode</h3>
      <div class="difficulty-group">
        <button class="btn btn-success btn-difficulty" ng-click="start(0)" >Numbers</button>
        <button class="btn btn-warning btn-difficulty" ng-click="start(1)" >Letters</button>
        <button class="btn btn-danger btn-difficulty" ng-click="start(2)" >Numbers and Letters</button>
      </div>
      <div class="dropdown" ng-controller="DropdownCtrl">
        <a class="dropdown-toggle glyphicon glyphicon-cog"></a>
        <ul class="dropdown-menu">
          <li>A work in progress...</li>
        </ul>
      </div>
    </div>
  </div>
</div>

